In [46]:
import pandas as pd

df = pd.read_json("c2.json")
train = pd.json_normalize(df["train"])
test = pd.json_normalize(df["test"].dropna())
df_labels = train.iloc[-1:]
df_labels

,195,782,153,712,305,1083,1106,897,997,966,...,478,375,1150,268,208,134,411,766,778,616
18,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0